.special {
    animation: rot 20s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes rot {
    0% {
        transform: rotateY(0deg) translateZ(1vmin);
    }
    25% {
        transform: rotateY(360deg) translateZ(1vmin);
    }
    100% {
        transform: rotateY(360deg) translateZ(1vmin);
    }

}
