* {
  margin: 0;
  padding: 0;
}

#top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "auto manual""main main";
  align-items: center;
  padding: 0.125rem;
  border: solid darkgrey thin;
  border-radius: 0.5rem;
  flex-grow: 1;
}

#top>* {
  padding: 0.5rem;
}

#auto,
#manual,
#main {
  display: block;
  border-radius: 0.25rem;
}

#auto {
  grid-area: auto;
}

#manual {
  grid-area: manual;
}

#main {
  grid-area: main;
  background: lightgrey;
  display: none;
}

#auto.on,
#manual.on {
  background: lightgrey;
  border-color: darkgrey;
  color: black;
}

#manual.on {
  border-radius: 0.25rem 0.25rem 0 0;
}

#main.on {
  border-radius: 0.25rem 0 0.25rem 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;
}

#main label {
  text-align: right;
  margin-right: 0.5rem;
}

#main input {
  width: 100%;
}