:root {
    box-sizing: border-box;
    font-size: 12pt;

}

* {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 1;
    color: var(--bg-mid);
}

body {
    font-family: var(--page-font);
    color: var(--fg-mid);
    background: var(--bg-mid);
    flex-direction: row;
}

div {
    display: flex;
    flex: 1 1 auto;
    background: var(--overlay-light);
}

div>div>h1 {
    flex: 0 0 100%;
    margin-top: 1rem;
    max-height: 2rem;
}


.hide div {
    display: none;
}
  
.hide h1 {
    text-orientation: sideways;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
}
  
main, aside {
    opacity:0;
    transition: opacity var(--speed) ease-in-out;
}

main.visible,
aside.visible {
    opacity:1;
}

main>div>h1 {
    text-orientation: sideways-right;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: end;
}

main>div {
    flex-wrap: none;
}

main>div>div {
    margin: 0;
    border: none;
}


div>div {
    border: var(--fg-light);
    background: var(--overlay-dark);
    flex-direction: row;
    flex-wrap: wrap;
    margin: var(--small);
    padding: 0 1ex 1ex 1ex;
}

h1, h2, a {
    border: 0.125em solid transparent;
    padding: 0.05rem;
    margin-top: var(--small);
}

a {
    align-items: center;
    background: var(--overlay-mid);
    border: solidvar(--fg-light) thin;
    border-radius: var(--small);
    display: flex;
    filter: brightness(95%) opacity(100%);
    flex: 1 1 calc(var(--small) * 2);
    justify-content: center;
    margin: var(--small);
    padding: 0 1ex;
    min-height: 2rem;
    transition: all calc(var(--speed)*2) ease-in-out;
    text-align: center;
    text-decoration: none;
}

a:hover, a:focus {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    box-shadow: 0 0 calc(var(--small) * 4) calc(var(--small) * 2) var(--overlay-light);
    outline: none;
    transition: all calc(var(--speed)/2) ease-in-out;
}

a:not([data-href]),
[data-href=""] {
    border-style: dashed;
}

a.mouseover,
main.editing a:hover {
  border-color: var(--edit-border);
  position: relative;
  cursor: move;
  z-index: 1000;
}

a.mouseover::after,
main.editing a:hover::after {
  content: 'Drag or Click';
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--edit-border);
  color: var(--fg-mid);
  padding: var(--small);
}

