body {
  display: grid;

  grid-template-columns: 8fr 15em;
  grid-template-rows: auto 1fr;
  grid-template-areas: "footer footer" "main aside";
  height: 100vh;
  width: 100vw;
}


main { grid-area: main; }
aside { grid-area: aside; }
footer {
  grid-area: footer;
  height: 0em;
  overflow: hidden;
  display: flex;
  transition: height var(--speed) linear;
  z-index: 2000;
}

body.editing>footer {
  height: auto;
  overflow: visible;
}

body.editing>main {
  opacity: 0.25;
}

footer h1, 
footer * {
  flex: 1 1 auto;
  padding: 1rem;
}