@import url("vars.css");

:root {
  font-size: var(--page-font-size);
}

body {
  font-size: var(--page-font-size);
  background: var(--bg-mid);
  color: var(--fg-mid);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, main {
  max-width: var(--page-width);
}

main {
  text-align: right;
}

header {
    font-size: 140%;
}

header img {
  max-height: 1em;
  vertical-align: text-top; 
}

header h1 {
  display: inline-block;
}

label {
  padding: var(--medium);
  margin: var(--small);
  display: flex;
  flex-direction: row-reverse;
  border: solid thin var(--bg-dark);
  border-radius: var(--small);
  text-align: left;
  background: var(--overlay-light);
}

label>input {
  width: auto;
}

label>input[type=number] {
  width: 3rem;
  height: 3rem;
  font-size: 125%;
  text-align: end;
  padding: 0;
}

label>input[type=range] {
  width: 50%;
  background: var(--key-col);
}

label>input[type=checkbox] {
  width: 3rem;
  height: 3rem;
}


label>p {
  width: 100%;
}

.wideopt {
  flex-direction: column;
}

button {
  flex-grow: 0;
  font-size: 125%;
  padding: var(--large);
  border: none;
  border-radius: var(--small);
  background: var(--key-col);
  color: var(--key-col-inv);
  min-width: 6rem;
  margin-left: 1em;
}

input[type="file"] {
  display: contents;
  visibility: hidden;
}

button:hover {
  filter: brightness(150%);
}


section {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  align-content: flex-start;
  background: var(--overlay-dark);
  border: solid thin var(--fg-light-alpha);
  flex-direction: column;
  margin: var(--medium);
  padding: var(--medium);
  border-radius: var(--medium);
}

section div {
  width: auto;
  flex-grow: 1;
  text-align: left;
}

section section {
  margin: var(--small);
  flex-direction: row;
  border-radius: var(--small);
  width: auto;
  background: var(--overlay-light);
}
