body {
  background: var(--bg-mid);
  color: var(--fg-mid);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, main {
  max-width: var(--page-width);
}

main {
  text-align: right;
}

header {
    font-size: 140%;
}

header img {
  max-height: 1em;
  vertical-align: text-top; 
}

header h1 {
  display: inline-block;
}

input[type=number] {
  width: 4em;
}

label {
  padding: var(--medium);
  margin-top: 1em;
  display: flex;
  flex-direction: row-reverse;
  border: solid thin var(--bg-dark);
  border-radius: var(--small);
  text-align: left;
}

label>input {
  width: auto;
}

label>input[type=checkbox] {
  width: 6em;
}

label>input[type=checkbox]:after {
  margin-left: -0.5em;
  height: 100%;
  content: url(i/off.svg);
}

label>input[type=checkbox]:checked:after {
  content: url(i/on.svg);
}


label>p {
  width: 100%;
}

.wideopt {
  flex-direction: column;
}

#save {
  font-size: 150%;
  margin-top: var(--large);
  padding: var(--large);
}

