:root {
  --speed: 0.1s;
  --page-font: sans-serif;
  --page-font-size: 100%;
  --toast-width: 20rem;
  --toast-time: 3s;
  --toast-offset: 4rem;
  --tool-tip-top: 0;
  --tool-tip-left: 0;

  /* Sizes */

  --page-width: 30rem;

  --tiny: 0.1rem;
  --small: calc( var(--tiny) * 2 );
  --medium: calc( var(--tiny) * 4 );
  --large: calc( var(--tiny) * 8 );
  --massive: calc( var(--tiny) * 32 );
  
  /* Colours */

  --fg-dark: #111; 
  --fg-mid: #333;
  --fg-light: #555;
  --fg-light-alpha: #5557;

  --bg-dark: #BBB; 
  --bg-mid: #DDD;
  --bg-light: #F7F7F7;

  --bg-drop: #C00;
  --fg-drop: #FFF;
  
  --key-col:  #06C;
  --key-col-inv:  #FFF;
  
  
  --overlay-light: rgba(255,255,255,0.5);
  --overlay-mid: rgba(255,255,255,0.3);
  --overlay-dark: rgba(0,0,0,0.2);

  --edit-border: #A00;

  --fresh: #befb8da8;
  --bookmark: var(--bg-dark);
  --bookmark-width: 15em;
  --bookmark-margin: var(--tiny);
  --bookmark-padding: var(--medium);
  --bookmark-border: thin;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: #111; 
    --bg-mid: #333;
    --bg-light: #555;

    --fg-dark: #BBB; 
    --fg-mid: #DDD;
    --fg-light: #FFF;
    --fg-light-alpha: #0005;

    --bg-drop: #A00;
    --fg-drop: #CCC;  
  }
}
