* {
  transition: filter 0.1s;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header>h1 {
  font-size: 1.25rem;
}

body>section {
  margin: 0;
  border: none;
  background: none;
  border-radius: unset;
  max-height: 80vh;
  justify-content: center;
}

body>section>div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50vw;
}

body>section>div>main {
  width: 100%;
  height: 100%;
}

hr {
  height: 100%;
  width: 1px;
  background: #ccc;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background: none;
}

button {
  flex-grow: 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background: var(--key-col);
  color: var(--key-col-inv);
  min-width: 6rem;
  margin-left: 1em;
}

button:disabled {
  background: #ccc;
  color: #666;
}

button:hover:not(:disabled) {
  cursor: pointer;
  filter: brightness(125%);
}